.card {
  background: #fff;
  border-radius: 2px;
  height: 145px;
  margin: 1rem;
  position: relative;
  width: 260px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  position: relative;
  height: 101%;
  width: 101%;
  top:-1px;
  left: -1px;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  position: relative;
  top: 6px;
  left: 1px;
  width: 92%;
  height: 92%;
  /*width: 94%;
  height: 94%;
  /*width: 194px;
  height: 179px;*/
}


